* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background-color: #f7fbfd;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

.container h2 {
  font-size: 36px;
  font-weight: 600;
  color: #363c40;
  margin-bottom: 12px;
}

.subtitle {
  font-size: 14px;
  color: #363c40;
  margin-top: 50px;
  margin-bottom: 23px;
}

.btn {
  padding: 18px 45px;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  background-color: #dc0909;
  color: #f7fbfd;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background-color: #c90a0a;
}

.btn:active {
  background-color: #a30606;
}

/* page 2 */
.hitungrekursifiteratif.before {
  text-align: center;
}

.hitungrekursifiteratif h2 {
  font-size: 36px;
  font-weight: 600;
  color: #0b0707;
  margin-bottom: 50px;
}

.inputHari {
  width: 160px;
  font-size: 20px;
  padding: 5px 0;
  border: none;
  border-bottom: 2px solid #ff4949;
  outline: none;
  background-color: #f7fbfd;
  margin-bottom: 100px;
}

.inputHari::placeholder {
  font-size: 14px;
  color: #d2d2d2;
}

.fixButton {
  padding: 12px 30px;
  font-size: 14px;
  border: none;
  border-radius: 14px;
  margin-left: 4px;
  background-color: #dc0909;
  color: #f7fbfd;
  cursor: pointer;
  transition: 0.2s;
}

.fixButton:hover {
  background-color: #c90a0a;
}

.fixButton:active {
  background-color: #a30606;
}

.inputJam {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

.field {
  display: flex;
  flex-direction: column;
}

.field label {
  margin-bottom: 2px;
  font-size: 14px;
}

.textLabel {
  text-align: center;
}

.jamTidur {
  width: 100px;
  font-size: 20px;
  padding: 5px 0;
  border: 1px solid #ff4949;
  border-radius: 8px;
  outline: none;
  background-color: #f7fbfd;
  margin-bottom: 1px;
}

.countAndCompare {
  padding: 18px 45px;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  background-color: #dc0909;
  color: #f7fbfd;
  cursor: pointer;
  transition: 0.2s;
}

.countAndCompare:hover {
  background-color: #c90a0a;
}

.countAndCompare:active {
  background-color: #a30606;
}

.fix {
  display: inline;
}

.hitungrekursifiteratif.after .mainContent {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  gap: 100px;
  width: 100%;
  margin: 0 auto;
}

.hitungrekursifiteratif.after .firstContent {
  display: inline;
  width: 45%;
}

.hitungrekursifiteratif.after .secContent {
  width: 55%;
  display: block;
}
